.title {
  color: #02ccba;
}
.main {
  color: #02ccba;
}
.sub {
  color: #02ccba;
}

 .main {
   display: flex;
 }
 .main li {
   flex: auto;
 }

@media(max-width: 1000px){
 .main {
   flex-wrap: wrap;
 }
 .main li {
   width: 50%;
 }
}

@media(max-width: 670px){
 .main {
   flex-direction: column;
 }
 .main li {
   margin: 0 auto;
 }
}
